@import 'tailwindcss';

body {
    font-family: 'Inter';
    color: #181818;
}

.standard-button {
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 15%;
    background: #181818;
    color: #E8E8E8;
    text-decoration: none;

    font-size: 12px;
    transition: all 0.25s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

    padding: 6px 12px;
    width: fit-content;
    cursor: pointer;
}

.standard-button:hover {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5), 0 0 8px rgba(0, 0, 0, 0.3);
    transform: scale(1.1);
}

.demo-button {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;
    background: #ec4e15;
    color: #E8E8E8;
    text-decoration: none;

    font-size: 12px;
    transition: all 0.25s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.demo-button:hover {
    background: #ff4902;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.5), 0 0 18px rgba(0, 0, 0, 0.3);
    transform: scale(1.1);
}

.toolset {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.tool {
  display: flex;
  align-items: center;
  gap: 8px;

  padding: 8px 12px;
  border-radius: 10px;

  background: #181818;
  color: #E8E8E8;

  font-size: 14px;

  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}