@import 'tailwindcss';

:root {
  --whiteLight: #FEFEFE;
  --blackLight: #121212;

  --lightBlueLight: #F0F3FA;
  --blueLight: #3273db;
  --darkBlueLight: #022B3A;

  --lightBlueLightBoxesSkills: #FEFEFE;

  --textTransparentLight: #515e70;

}

.dark {
  --whiteLight: #181818;
  --blackLight: #f1f1f1;

  --lightBlueLight: #222222;
  --blueLight: #336ac2;
  --darkBlueLight: #022B3A;

   --lightBlueLightBoxesSkills: #313131;

  --textTransparentLight: #94A3B8;

}

body {
  font-family: sans-serif, "Inter", system-ui;
}

.page-container {
  padding: 0;

}

@media (max-width: 768px) {
  .page-container {
    padding: 60px 20px;
  }
}

.section-container{
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;

  padding: 56px 24px;

  margin-bottom: 80px;
  border-radius: 24px;
}

.page-container {
  background: var(--whiteLight);
}

.page-container section:nth-child(odd) {
  background: var(--whiteLight);
}

.page-container section:nth-child(even) {
  background: var(--lightBlueLight);
}